body{
    font-family: 'Courier new',monospace;
    background: #282D35;
    color: white;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
}

header{
    padding: 18px;
    display: flex;
    max-width: 500px;
    margin: auto;
}

header a{
    text-decoration: none;
    color: #fff;
}

.recipe-list{
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.site-title{
    color: tomato;
    
}

.site-description{
    max-width: 500px;
}

.recipe-card{
    margin: 0;
    padding: 16px;
    max-width: 500px;
    flex-grow: 0;
    display: flex;
    gap: 22px;
    align-items: center;
    margin: 18px;
    border: 1px solid green;
    border-radius: 10px;
}
.recipe-card .image{
    flex: 2;
}
.recipe-card .text{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.recipe-card .text a{
    text-decoration: none;
    align-self: center;
    text-align: center;
    color: #fff;
    background-color:green;
    width: 100px;
    padding: 12px;
    border-radius: 10px;
}
.recipe-card .text a.sukuma{
    background-color: green;
    color: #fff;
}
.recipe-card img{
    
    border-radius: 20px;
}
